[Unit]
Description=argraphments
After=network.target

[Service]
ExecStart=/usr/local/bin/argraphments-server
WorkingDirectory=/home/kayushkincom/argraphments
User=kayushkincom
Environment=PORT=8086
Environment=PATH=/home/kayushkincom/.deno/bin:/usr/local/bin:/usr/bin:/bin
EnvironmentFile=/home/kayushkincom/argraphments/.env
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
