<div class="recording-bar" id="recording-bar" style="display:none">
    <div class="recording-bar-top">
        <span class="record-dot recording"></span>
        <span id="recording-bar-time" class="record-time">00:00</span>
        <div class="speaker-names" id="header-speaker-names" style="display:none">
            <div class="speaker-list" id="header-speaker-list"></div>
        </div>
        <div class="type-legend" id="header-legend" style="display:none"></div>
        <button class="btn btn-stop" onclick="stopRecording()">Stop</button>
    </div>
</div>
